includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: max
    paths:
        - src/
        - tests/
    phpVersion: 80100
    reportUnmatchedIgnoredErrors: true
    tmpDir: .cache/phpstan/
